/************ COLORS ************/
/*
    81D8D0 Tiffany Blue
    B8DBFF Light Tiffany Blue
    7E7E80 asset-description (light grey)
    rgba(204, 204, 204, .5) Footer <hr>/Dividers
*/

:root {
    --main-font-color: #595959;
    --etsy-color: #f45800;
}

* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    color: var(--main-font-color);
    /*font-size: 14px;*/
}

html {
    overflow-y: scroll;
}

body {
    padding-bottom: 30px;
}

.page-container {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 5px;
}

/************ HEADER ************/

md-toolbar#header,
md-toolbar#categories-header{
    background-color: white;
    border-bottom: 1px grey;
}

#header-logo {
    font-weight: bolder;
    color: var(--main-font-color);
    font-size: 30px;
}

#categories-header {
    /*color: #595959;*/
    padding: 16px;
}

#cart-icon-header {
    background-color: #8c83ff;
    margin-right: 20px;
}

#how-it-works-row {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}
#how-it-works-row h3 {
    padding-bottom: 5px;
}
#etsy-logo {
    font-family: "Times New Roman";
    color: #f45800;
    font-size: 20px;
}

/************ MAIN ************/

md-card {
    border-radius: 8px;
}

.listing-row {
    margin-left: 20px;
    padding-bottom: 20px;
}

.buy-button {
    background-color: lightgreen;
}

.charity-icon {
    background-color: rgba(129, 216, 208, 1) !important;
}

.charity-row {

}

.price-card {

}

    /** CART **/

#cart-container {
    min-width: 30px;
    padding-top: 50px;
    position: relative;
}

#cart-footer {
    border-top: 5px solid #fafafa;
}

    /** CHARITY DIALOG **/

.charity-rating {
    margin-left: 12px;
}

md-dialog {
    max-width: 700px;
}

md-dialog h2 {
    margin-bottom: 25px;
}

md-dialog p {
    margin-top: 10px;
}

md-dialog .md-button{
    color: #3399cc;
}

/************ FOOTER ************/



.contact-icon {
    padding: 1px 0px 1px 1px;
    font-size: 30px;
}

.tiffany-opaque-bg {
    background-color: rgba(129, 216, 208, .2) !important;
}

.tiffany-font {
    color: #81D8D0;
}
