<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
             <!-- <md-card-title-text>
                <span class="md-headline">Elephant bracelet</span>
                <span class="md-subhead">$12</span>
              </md-card-title-text>
              -->
            $12
           <md-card-title-media>
            <div class="md-media-lg card-media">
                <img src="/static/img/asd.jpeg">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-fab md-mini"><i class="material-icons">favorite</i></md-button>
          <md-button class="buy-button">Buy</md-button>
        </md-card-actions>
      </md-card><md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
             <!-- <md-card-title-text>
                <span class="md-headline">Elephant bracelet</span>
                <span class="md-subhead">$12</span>
              </md-card-title-text>
              -->
            $12
           <md-card-title-media>
            <div class="md-media-lg card-media">
                <img src="/static/img/asd.jpeg">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-fab md-mini"><i class="material-icons">favorite</i></md-button>
          <md-button class="buy-button">Buy</md-button>
        </md-card-actions>
      </md-card><md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
             <!-- <md-card-title-text>
                <span class="md-headline">Elephant bracelet</span>
                <span class="md-subhead">$12</span>
              </md-card-title-text>
              -->
            $12
           <md-card-title-media>
            <div class="md-media-lg card-media">
                <img src="/static/img/asd.jpeg">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-fab md-mini"><i class="material-icons">favorite</i></md-button>
          <md-button class="buy-button">Buy</md-button>
        </md-card-actions>
      </md-card>