<div id="homeContent" ng-controller="HomeController">


    <md-toolbar id="header">
      <div class="md-toolbar-tools">
        <h2>
        <span id="header-logo">GIFTLY
        <span style="color: grey; font-size: 14px;">Do good and look great, for less</span>
        </span>
        </h2>
        <span flex></span>

        <md-button ng-click="toggleLeft()" id="cart-icon-header" class="md-fab md-mini" aria-label="Favorite">
            <!--<i class="material-icons">shopping_cart</i>-->
            <i class="material-icons">add_location</i>
        </md-button>
      </div>
    </md-toolbar>

<!--
    <div id="categories-header" layout="row">
        <!--
        <div flex="20">Jewelry</div>
        <div flex="20">Clothing</div>
        <div flex="20">Accessories</div>
    </div>


        -->

    <div id="how-it-works-row" layout="row" layout-align="center end">
      <div flex="33">
          <h3>Step 1</h3>
          <p>Choose your items</p>
      </div>
      <div flex="33">
          <h3>Step 2</h3>
          <p>Checkout with <span id="etsy-logo">Etsy</span></p>
      </div>
      <div>
          <h3>Step 3</h3>
          <p>We donate <span style="color: green; font-weight: bolder;">20%</span>!</p>
          <p>Pat yourself on the back!</p>
      </div>
    </div>
    <div ng-controller="SidenavController" layout="column">
        <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-disable-backdrop
        md-whiteframe="4"
        >
        <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Add Listing</h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-input-container>
                <label>Title</label>
                <input ng-model="listing.title">
            </md-input-container>
        <md-input-container>
            <label>Listing ID</label>
            <input ng-model="listing.listing_id">
        </md-input-container>

        <md-input-container>
            <label>Price</label>
            <input ng-model="listing.price">
        </md-input-container>
          <md-input-container>
            <label>Category</label>
            <md-select ng-model="listing.category">
              <md-option ng-repeat="(category, value) in categories" value="{{category}}">
                {{category}}
              </md-option>
            </md-select>
          </md-input-container>
          <br>
        <md-button type="submit" class="md-primary" ng-click="sendForm()">Send</md-button>


        </md-content>

        </md-sidenav>
    </div>

    <div id="home-container" layout="row" layout-align="" flex>

    <div flex="55" flex-offset="10">
        <div class="charity-row">

            <md-button ng-click="showCustom(charities[0])" class="md-fab md-mini charity-icon">
              <i class="material-icons">pets</i>
            </md-button>
            <span>{{ charities[0].name }}</span>

            <div layout="row" class="listing-row">
                <div style="display:inherit;">
                    <md-card ng-repeat="listing in listings | filter:{ category: 'animal' }">
                    <md-card-title>
                        <span class="price-card">${{ listing.price }}</span>
                       <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img src="/static/img/elephant-leggings.jpg">
                        </div>
                      </md-card-title-media>
                    </md-card-title>
                        <md-card-content><span>{{ listing.title }}</span></md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                     <!-- <md-button class="md-fab md-mini"><i class="material-icons">favorite</i></md-button>-->
                        <md-button class="buy-button" ng-click="add(listing)">Vote</md-button>
                    </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>
        <div class="charity-row">

            <md-button ng-click="showCustom(charities[1])" class="md-fab md-mini charity-icon">
              <i class="material-icons">accessible</i>
            </md-button>
            <span>{{ charities[1].name }}</span>

            <div layout="row" class="listing-row">
                <div style="display:inherit;">
                    <md-card ng-repeat="listing in listings | filter:{ category: 'cancer' }">
                    <md-card-title>
                        <span class="price-card">${{ listing.price }}</span>
                       <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img src="/static/img/elephant-leggings.jpg">
                        </div>
                      </md-card-title-media>
                    </md-card-title>
                    <md-card-content><span>{{ listing.title }}</span></md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                     <!-- <md-button class="md-fab md-mini"><i class="material-icons">favorite</i></md-button>-->
                      <md-button class="buy-button" ng-click="add(listing)">Vote</md-button>
                    </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>
        <div class="charity-row">

                <md-button ng-click="showCustom(charities[2])" class="md-fab md-mini charity-icon">
                  <i class="material-icons">local_florist</i>
                </md-button>
                <span>{{ charities[2].name }}</span>

                <div layout="row" class="listing-row">
                    <div style="display:inherit;">
                        <md-card ng-repeat="listing in listings | filter:{ category: 'environment' }">
                        <md-card-title>
                            <span class="price-card">${{ listing.price }}</span>
                           <md-card-title-media>
                            <div class="md-media-lg card-media">
                                <img src="/static/img/elephant-leggings.jpg">
                            </div>
                          </md-card-title-media>
                        </md-card-title>
                        <md-card-content><span>{{ listing.title }}</span></md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                         <!-- <md-button class="md-fab md-mini"><i class="material-icons">favorite</i></md-button>-->
                          <md-button class="buy-button" ng-click="add(listing)">Vote</md-button>
                        </md-card-actions>
                        </md-card>
                    </div>
                </div>
            </div>

        </div>

        <div ng-controller="CartController" ng-model="cart" id="cart-container" hide-md hide-sm hide-xs>
        <md-card>
        <md-card-content>
            <div id="cart-header" layout="row" layout-align="space-between center">
                <h2>Votes</h2>
                <!--<md-button ng-click="empty()">Reset</md-button>-->
            </div>

            <md-list>
                <md-list-item  ng-repeat="listing in cart.listings">
                    <md-button class="md-fab md-mini charity-icon"><i class="material-icons">{{ category_icons[listing.category] }}</i></md-button>
                    <div class="md-list-item-text"><p>{{listing.title}}</p></div>
                </md-list-item>
            <div layout="row" layout-align="space-between center">
                <div id="cart-total-text">Total:</div>
                <div>
                $&nbsp;<span id="cart-total-price">{{ cart.total }}</span>
                </div>
            </div>
            </md-list>

         </md-card-content>
             <md-card-footer layout=column" layout-align="space-between center" id="cart-footer">
                 We give <span id="cart-total-donation">$ {{ (cart.total * .2) | number: 0}}</span>
             </md-card-footer>
            </md-card>
            <md-button ng-click="sendCart()">
                Submit
            </md-button>
        </div>


    </div> <!-- /home-container -->


</div>