<html ng-app="APP">

<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Giftly</title>
    <base href="/index.html"></base>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/base.css">

        <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js"></script>


    <script src="../static/lib/angular-route/index.js"></script>
    <script src="../static/js/base.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



</head>

<body>

    <div class="page-container">
        <div id="header">

        </div><!--header-->

        <div id="content">

            <ng-view>
                        <!-- Here is where our partial HTML files will be injected -->
            </ng-view>
        </div><!--content-->

    <div id="footer">
    </div><!--footer-->

    </div><!--page-container-->

</body>

</html>
